<% provide(:title, "About") %>
<div class="container">
<div class="col-sm-12 col-xs-12">
<div class="col-sm-8 col-xs-8" >
<%= image_tag "/assets/gic.jpg", :size =>'700x420', class:"img" %>

<style>
.img{
	margin-top: 100px;
	float: left;
	width: 665px;
	height: 460px;
	margin: 0;

} 
.sidebar{
	float: left;
	width: 150px;
	height: 130px;
	margin: 0;

}
.sidebar1{
	width: 370px;
	height: 200px;
	margin-top: 70px;
	
}

.sidebar2{
	width: 370;
	height: 200px;
	margin: 0;
	padding: 0;
}

.tside1{
	float: right;
	width: 200px;
	height: 150px;
	margin: 0;
	

}
.tside2{
	float: right;
	width: 180px;
	height: 150px;
	margin: 0;

}

#test{

	line-height: 20px;
}
</style>
</div>
	<div class="col-sm-4 col-xs-4"  >


	<div class ="sidebar1">
		<h4 class="text-main">LOCATION</h4>
						<%= image_tag "/assets/map.png", :size =>'150x130', class:"sidebar" %>

					<!-- 	<a>Concordia has the right location, the right people, the right resources.</a> -->
						<!-- <a>Concordia has the right ,</a>
						<a> the right people, </a>
						<h6>the right resources.</h6>
						<a>sdfghjklldk;hnlv;sdpcvglt,hmbl  cxfdghkhb 0k ,gfrglkvivkvxigfmbc npvvlf lxlkfjvvisfkcfgvfgmgdxkfmkjvkfskj;</a>
						 -->
						 <div class="tside1">
						 	<p >Concordia has the right location, the right people, the right resources...
						 	</p>	
						 		<a href="#" class="my-btn-main">More</a>
						 	

						 </div>
							
							
				
	</div>

	<div class="sidebar2">
			<h4 class="text-main">TOURISM</h4>
						

						<%= image_tag "/assets/tour.jpg", :size =>'150x130'%>

					
					<div class="tside2">
							<p>Concordia has the right location, the right people, the right resources...
								</p>
							<a href="#" class="my-btn-main" style="margin-top: 30px">More</a>
							
					</div>


	</div>
	
							

				<!-- 	%= image_tag "Tourism/bg-head.jpg" %> -->

	
				
						
	</div>	

				<!-- 	%= image_tag "Tourism/bg-head.jpg" %> -->
				</div>



</div>

</div>

		<div class="container" style="margin-bottom:50px;">
			<div class="col-sm-8 col-xs-12" style="margin-bottom:20px;">
				<div class="col-sm-12 col-xs-12 cate-block">
					<div class="title-cate">About Us</div>
					<!-- <img src="/assets/ak.jpg" class="img-responsive"> -->
					<div class="content-cate">Tourest is an application that provides user to find place for preparing their trip such as hotels, restaurants and other entertainment place in Phnom Penh.That’s the reason that we create Tourest with three platform such as Android, IOS and Web application. </div>
					<div style="padding:10px;">
						<a href="#" class="my-btn-cate">More</a>
					</div>
				</div>
			</div>
		
			<div class="col-sm-4 col-xs-12" style="margin-bottom:20px;">
				<div class="col-sm-12 col-xs-12 cate-block">
					<div class="title-cate">RECENT NEWS</div>
					<!-- <img src="/assets/ak.jpg" class="img-responsive"> -->
					<div class="content-cate">News and events new destination popular tour.News and events new destination popular tour.News and events new destination popular tour.</div>
					<div style="padding:10px;">
						<a href="#" class="my-btn-cate">More</a>
					</div>
				</div>
			</div>
		</div>

